<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %>: <%= subtitle %></title>
  <link rel="icon" href="./res/favicon.ico" />
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <!-- Bulma Version 0.7.1-->
  <link rel="stylesheet" href="./css/vendor/bulma.min.css" />
  <link rel="stylesheet" href="./css/main.css" />
  <!-- Twitter Meta -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@cedricamaya" />
  <meta name="twitter:title" content="<%= title %>" />
  <meta name="twitter:description" content="<%= subtitle %>" />
  <meta name="twitter:image" content="https://raw.githubusercontent.com/cedricium/<%= title %>/master/docs/res/icon-256.png" />
  <meta name="twitter:image:alt" content="<%= title %> logo" />
  <!-- Open Graph Meta -->
  <meta property="og:url" content="https://cedric.tech/<%= title %>/" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= subtitle %>" />
  <meta property="og:image" content="https://raw.githubusercontent.com/cedricium/<%= title %>/master/docs/res/icon-256.png" />
  <meta property="og:image:width" content="256" />
  <meta property="og:image:height" content="256" />
  <meta property="og:image:alt" content="<%= title %> banner image" />
</head>

<body>
  <div class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-variable is-6">
          <!-- Content Left -->
          <div class="column is-5 has-content-vcentered">
            <h1 class="title"><%= title %></h1>
            <h2 class="subtitle"><%= subtitle %></h2>
            <div class="call-to-action content">
              <!-- Call-to-Action content (button, npm install input, etc.) goes here -->
            </div>
            <div class="description content">
              <%= description %>
            </div>
            <div class="features content">
              <strong>Features</strong> ✨
              <ul>
                <% features.forEach((feature) => { %>
                  <li><%= feature %></li>
                <% }); %>
              </ul>
            </div>
            <div class="links content">
              <strong>Links</strong> 🔗
              <ul>
                <% links.forEach((link) => { %>
                  <li><%= link.name %>: <a href="<%= link.url %>"><%= link.url %></a></li>
                <% }); %>
              </ul>
            </div>
          </div>
          <!-- Media Right -->
          <div class="column is-7 has-content-vcentered">
            <figure class="image is-3by2">
              <img src="./res/screenshot.png" />
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-foot">
      <div class="content has-text-centered">
        Made with ❤️ by <a href="https://twitter.com/CedricAmaya">Cedric Amaya</a>
      </div>
    </div>
  </div>

  <script async type="text/javascript" src="./js/index.js"></script>
</body>
</html>